.add-option-error {
	color: $off-white;
	font-style: italic;
	padding: 0 $m-size;
	margin: $m-size 0 0 0;
}

.add-option {
	display: flex;
	flex-direction: row;
	padding: $m-size;
}

.add-option__input {
	flex-grow: 1;
	background: $dark-blue;
	border: none;
	border-bottom: 0.3rem solid darken($dark-blue, 10%);
	color: white;
	margin-right: $s-size;
	padding: $s-size;
}

@media (max-width: $desktop-breakpoint) {
	// Change from Web to Mobile
	.add-option {
		flex-direction: column;
	}
	.add-option__input {
		margin-bottom: $s-size;
	}
}
