<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>ML App</title>
	</head>

	<body>
		<div id="root">
			<h1>Predict The Flower</h1>
			<p>Go to postman and select POST : http://127.0.0.1:5000/predict</p>
			<p>
				In body -> raw -> Paste -> { "sepal_length": 5, "sepal_width": 2.9,
				"petal_length": 1, "petal_width": 0.2 }
			</p>
			<p>Hit Send To See The Response</p>
			<h2>Python ML API as Web Service</h2>
			<ol>
				<li>
					https://www.datacamp.com/community/tutorials/machine-learning-models-api-python
				</li>
				<li>
					https://developer.ibm.com/tutorials/deploy-a-python-machine-learning-model-as-a-web-service/
				</li>
				<li>
					https://github.com/elliebirbeck/model-deployment-flask/blob/master/model.py
				</li>
				<li>
					https://github.com/ankit25587/ml-aws-lambda-deployment/blob/master/handler.py
				</li>
				<li>
					https://www.udemy.com/course/deploy-machine-learning-model/?referralCode=0371F43AE14C71828E8E
				</li>
			</ol>
		</div>
	</body>
</html>
